@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    /* overflow: hidden; */
    padding: relative;
}

.grid {
    border: 1px solid;
    height: 26.25rem;
    width: 30.625rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    cursor: pointer;
}

.grid div {
    height: 4.375rem;
    width: 4.375rem;
}

.taken {
    pointer-events: none;
}

.player-one {
    background-color: red;
    border-radius: 50%;
}

.player-two {
    background-color: blue;
    border-radius: 50%;
}

h3 {
    margin: 1.25rem;
    margin-bottom: 1rem;
}

.heading {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 2rem;
}

@media (max-width: 412px) {
    .grid {
        border: 1px solid;
        height: 210px;
        width: 245px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        cursor: none;
    }

    .grid div {
        height: 35px;
        width: 35px;
    }
}
